<section>
    
    <h2>Headline metrics</h2>

    <p>
        (DRAFT) Some key headlines...
    </p>

</section>


<hr>

<section>
    <h2>Insights</h2>
    
    <p>
        (DRAFT) A collection of links to pages aggregating deeper analysis.
    </p>

    {{ comp.DynamicGridList({ searchTerm: 'insight' }) }}

</section>

<hr>

<section>
    <h2>Case Studies</h2>
    
    {{ comp.DynamicGridList({ searchTerm: 'case-study' }) }}
</section>