---
title: Funding sources
description: |
    Insight into known funding sources for organisations working on culture across Newcastle.
---

<div class="holder padded">
<h2>Funding sources</h2>
<p>
	TODO Add details
</p>

{{ include './_partials/organisation-income.vto' }}

{{ include './_partials/by-org-characteristic.vto' }}

{{ comp.DataSources({ sources: sources }) }}
</div>