.block {
	--spacing: 1rem;
	padding: 20px;
	display: block;
	border-radius: 16px;
	/*box-shadow: 0 1px 24px var(--block-shadow-colour, rgba(35,31,32,.15));
	background: var(--block-background, unset);
	color: var(--block-foreground, unset);
	*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	box-sizing: border-box;

	& a {
		color: inherit;
	}

	& a:hover {
		text-decoration: underline;
	}

	& * {
		margin-block: 0;
	}
	& .heading {
		margin-bottom: 1rem;
		font-size: 1.1875em;
		font-weight: 400;
		text-align: left;
	}
	& .more {
		margin-top: 1rem;
		font-size: 1rem;
	}
}
  