.block {
	--spacing: 1rem;
	padding: 1rem;
	display: block;
	border-radius: 8px;
	box-shadow: 0 1px 24px var(--block-shadow-colour, rgba(35,31,32,.15));
	/*  background: var(--block-background, unset);
	color: var(--block-foreground, unset);
	*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	box-sizing: border-box;

	& > a {
		color: inherit;
		text-decoration: none;
	}

	& a:hover {
		text-decoration: underline;
	}

	& * {
		margin-block: 0;
	}
	& .heading {
		margin-bottom: 1rem;
	}
}
  