:root {
	--col-white: #ffffff;
	--col-offwhite: #f8f8f8;
	--col-grey: #e2e2e2;
	--col-darkgrey: #231f20;
	--col-primary-black: #231F20;
	--col-black: #000000;
	--col-placeholder: #777777;
	--menu-bg: #231f20;
	--menu-fg: #ffffff;
	--menu-off: #423f40;

	--colour-teal-100: #33A38C;
	--colour-teal-75: #66baa9;
	--colour-teal-50: #99d1c5;
	--colour-teal-25: #cce7e2;
	--colour-green-100: #005837;
	--colour-green-75: #408269;
	--colour-green-50: #7fab9b;
	--colour-green-25: #bfd5cd;
	--colour-orange-100: #f25c29;
	--colour-orange-75: #f5855f;
	--colour-orange-50: #f8ad94;
	--colour-orange-25: #fcd6c9;
	--colour-pink-100: #ed1163;
	--colour-pink-75: #f24d8a;
	--colour-pink-50: #f688b1;
	--colour-pink-25: #f8c2d6;
	--colour-purple-100: #8f3e8d;
	--colour-purple-75: #ab6eaa;
	--colour-purple-50: #c79ec6;
	--colour-purple-25: #e3cfe2;
	--colour-blue-100: #00478a;
	--colour-blue-75: #4075a7;
	--colour-blue-50: #7fa3c4;
	--colour-blue-25: #bfd1e2;

}
.bg-teal-100 { background: var(--colour-teal-100); color: #ffffff; --cta-foreground: #ffffff; --cta-background: transparent; }
.bg-teal-75 { background: var(--colour-teal-75); color: #ffffff; --cta-foreground: #ffffff; --cta-background: transparent; }
.bg-teal-50 { background: var(--colour-teal-50); color: #ffffff; --cta-foreground: #ffffff; --cta-background: transparent; }
.bg-teal-25 { background: var(--colour-teal-25); color: #000000; --cta-foreground: #000000; --cta-background: transparent; }
.bg-green-100, .funding { background: var(--colour-green-100); color: #ffffff; --cta-foreground: #ffffff; --cta-background: transparent; }
.bg-green-75 { background: var(--colour-green-75); color: #ffffff; --cta-foreground: #ffffff; --cta-background: transparent; }
.bg-green-50 { background: var(--colour-green-50); color: #ffffff; --cta-foreground: #ffffff; --cta-background: transparent; }
.bg-green-25 { background: var(--colour-green-25); color: #000000; --cta-foreground: #000000; --cta-background: transparent; }
.bg-orange-100, .case-study { background: var(--colour-orange-100); color: #000000; --cta-foreground: #000000; --cta-background: transparent; }
.bg-orange-75 { background: var(--colour-orange-75); color: #000000; --cta-foreground: #000000; --cta-background: transparent; }
.bg-orange-50 { background: var(--colour-orange-50); color: #000000; --cta-foreground: #000000; --cta-background: transparent; }
.bg-orange-25 { background: var(--colour-orange-25); color: #000000; --cta-foreground: #000000; --cta-background: transparent; }
.bg-pink-100 { background: var(--colour-pink-100); color: #ffffff; --cta-foreground: #ffffff; --cta-background: transparent; }
.bg-pink-75 { background: var(--colour-pink-75); color: #ffffff; --cta-foreground: #ffffff; --cta-background: transparent; }
.bg-pink-50 { background: var(--colour-pink-50); color: #ffffff; --cta-foreground: #ffffff; --cta-background: transparent; }
.bg-pink-25 { background: var(--colour-pink-25); color: #000000; --cta-foreground: #000000; --cta-background: transparent; }
.bg-blue-100 { background: var(--colour-blue-100); color: #ffffff; --cta-foreground: #ffffff; --cta-background: transparent; }
.bg-blue-75 { background: var(--colour-blue-75); color: #ffffff; --cta-foreground: #ffffff; --cta-background: transparent; }
.bg-blue-50 { background: var(--colour-blue-50); color: #ffffff; --cta-foreground: #ffffff; --cta-background: transparent; }
.bg-blue-25 { background: var(--colour-blue-25); color: #000000; --cta-foreground: #000000; --cta-background: transparent; }

.bg-white { background: var(--col-white); color: var(--col-darkgrey); --cta-foreground: #000000; --cta-background: transparent; }
.bg-offwhite { background: var(--col-offwhite); color: var(--col-darkgrey); --cta-foreground: #ffffff; --cta-background: #000000; }
.bg-grey { background: var(--col-grey); color: var(--col-black); --cta-foreground: #000000; --cta-background: transparent; }
.bg-black { background: var(--col-black); color: var(--col-white); --cta-foreground: #ffffff; --cta-background: transparent; }
