panelSelector [role=tab] {
    & svg {
        pointer-events: none;
    }
}

.oi-zoomable-map .leaflet-popup {
    bottom: 24px!important;
  }

.oi-viz + h1, .oi-viz + h2, .oi-viz + h3 {
    margin-top: 2rem;
    /* Adding some spacing to a h1 or h2 or h3 after a visualisation. Feel free to change amount. */
}