.grid {
  display: flex;
  list-style: none;
  padding-inline: 0;
  gap: 1rem;
  flex-wrap: wrap;

  & > * {
    padding-block: 0;
    flex-basis: 20rem;
    flex-grow: 1;
    flex-shrink: 0;

    & > .block {
      height: 100%;
    }
  }

  & .block {
    --spacing: 1rem;
    display: block;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;

    & > * {
      padding-inline: var(--spacing);

      &:first-child {
        padding-block-start: var(--spacing);
      }

      &:last-child {
        padding-block-end: var(--spacing);
      }
    }

    & > a {
      color: inherit;
      text-decoration: none;
    }

    & a:hover {
      text-decoration: underline;
    }

    & * {
      margin-block: 0;

      & + * {
        margin-block-start: var(--spacing);
      }
    }

    & .tag {
      filter: invert(1);
    }

    & hr {
      margin-inline: var(--spacing);
    }
  }
}
