/* Masonry stuff */
.masonry {
	--gap: 0.5rem;
	--ncol: 6;
	--size: max(6rem,calc((100% - (var(--ncol) - 1)*var(--gap))/var(--ncol)));
	display: grid;
	grid-gap: var(--gap);
	grid-template-columns: repeat(auto-fill, var(--size));
	grid-auto-flow: row dense;
}
.block {
	border-radius: 8px;
	padding: 1rem;
	grid-row-end: span var(--rows,1);
	grid-column-end: span min(var(--cols),var(--ncol));
}
.block > .heading { margin-top: 0; margin-bottom: 0.5rem; }
.block > .bang { margin-bottom: 0; margin-top: 0; font-weight: bold; }
.block > .size { float: right; }

@media (max-width: 880px) { .masonry { --ncol: 5; } }
@media (max-width: 760px) { .masonry { --ncol: 4; } }
@media (max-width: 640px) { .masonry { --ncol: 3; } }
@media (max-width: 520px) { .masonry { --ncol: 2; } }
@media (max-width: 400px) { .masonry { --ncol: 1; } }