.oi-zoomable-map {
  margin-block: 2rem;
}

.oi-top > .oi-legend .oi-legend-inner .oi-legend-items {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  justify-content: center;
}

.oi-top > .oi-legend .oi-legend-inner .oi-legend-item {
  outline: 0;
  &:focus {
    outline: auto;
  }
}
.oi-legend-label {
  text-align: left;
}
.skip-link {
  padding: 0.5em 1em;
  background-color: var(--colour-purple-25);
}

[data-comp="colour-block"] .oi-chart {
  background: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.oi-legend-inner {
  & .oi-legend-item {
    display: flex !important;
    gap: 0.25em;
  }
}

.oi-top > .oi-legend {
  margin-bottom: 0.5rem;
}
.oi-waffle-chart .oi-legend .item-mark, .oi-waffle-chart .series path:not(.marker-group) { outline: 1px solid white; }
.oi-top > .oi-legend .oi-legend-inner .oi-legend-items { flex-wrap: wrap; row-gap: 0.1rem; }
.oi-legend-inner .oi-legend-item { padding: 0 0.25rem; }

.oi-slider-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oi-slider-inner input {
  width: 400px;
  max-width: 90vw;
}

.oi-dashboard-inner {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.oi-dashboard-inner .panel {
  flex-basis: max(20rem, var(--auto-dashboard-min-size));
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: black;
  color: white;
}

.oi-dashboard-inner .panel h3 {
  margin-top: 0;
}

.edge-bundle-tooltip {
    background: #ffffffa0;
    padding: 1rem;
    text-align: center;
}

figcaption, figcaption.barchart {
  text-align: center;
  font-weight: 700;
  font-size: larger;
}

figure {
  margin-top: 2rem;
}