/* Update core styles here */
:root {
    --holder-width: unset;
}

html {
    font-family: var(--site-font);
    height: 100%;
}
body {
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
body > * {
    padding-inline: 1rem;
}
body > header {
    font-size: 2rem;
    font-weight: 700;
    background: #000000;
    color: #ffffff;
    padding-block: 1em;
    margin-block-end: 2rem;
    & a {
        color: inherit;
    }
}

body > footer {
    margin-top: 2rem;
    padding: 2rem;
    color: white;
    background: #000000;
    a {
        color: inherit;
    }
}

h2 {
    font-size: 1.6rem;
    margin-block-start: 1.5em;
}

table {
    overflow-x: scroll;
    border-collapse: collapse;
}
th {
    background: #000000;
    color: #ffffff;
    padding:0.8em;
    a {
        color: inherit;
    }
}
td {
    padding-inline: 1em;
    border-width: thin;
    border-color: #e0dfdf;
    border-style: solid;
}
hr {
    margin-inline: 0;
}

