table {
    overflow-x: scroll;
    border-collapse: collapse;
}
th, td {
    padding: 16px;
}
th {
    background: #000000;
    color: #ffffff;
    a {
        color: inherit;
    }
}
td {
    border-width: thin;
    border-color: #e0dfdf;
    border-style: solid;
}
