/* Utility to make the tagged object grow in a flex layout */
:root {
	--padding: 2rem;
	--spacing-baseline: 4px;
	--spacing-factor-tiny: 1;
	--spacing-tiny: calc(var(--spacing-baseline) * var(--spacing-factor-tiny));
	--spacing-factor-small: 2;
	--spacing-small: calc(var(--spacing-baseline) * var(--spacing-factor-small));
	--spacing-factor-normal: 4;
	--spacing-normal: calc(var(--spacing-baseline) * var(--spacing-factor-normal));
	--spacing-factor-large: 8;
	--spacing-large: calc(var(--spacing-baseline) * var(--spacing-factor-large));
	--spacing-factor-huge: 16;
	--spacing-huge: calc(var(--spacing-baseline) * var(--spacing-factor-huge));
}

aside.warning { text-align: center; position: relative; z-index: 1; }
.greedy {
	flex-grow: 1;
	overflow: hidden;
}

.centred {
  text-align: center;
}

.bang,
.bignum {
  font-size: min(3.5em, 10vw);
  font-weight: bold;
}

.holder {
  width: var(--page-width);
  margin: auto;
  max-width: 100%;
}
.holder > * {
	margin-bottom: 1rem;
}
.holder > *:last-child {
	margin-bottom: 0;
}

.padded {
	padding: var(--padding);
}
.padded-inline {
	padding-inline: var(--padding);
}
.padded-block {
	padding-block: var(--padding);
}

.warning {
  color: rgb(95, 82, 7);
  background-color: rgb(251, 245, 208);
  border-color: rgb(95, 82, 7);
  filter: drop-shadow(0px 0px 1px rgb(95, 82, 7));
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #721c24;
  filter: drop-shadow(0 0 1px #f5c6cb);
}

.info {
  color: #004085;
  background-color: #cce5ff;
  border-color: #004085;
  filter: drop-shadow(0 0 1px #b8daff);
}

.emphasise-first-para > h1 + p {
  font-size: 1.2em;
  font-weight: 700;
}

.comp-headline {
  &.placeholder {
    color: red;
    border: 5px dashed red;
    &::after {
      content: "PLACEHOLDER CONTENT";
      font-size: 0.7em;
    }
  }
}