---
title: Tag index
layout: template/base.vto
description: |
    The pages in the Observatory are tagged. Explore pages sharing common tags.
---

{{ description |> md }}

{{# Display tag cloud for all generated tag pages #}}
{{ comp.PageTags({ tags: search.pages('tag!=undefined', 'tag').map(x => x.tag) }) }}