---
title: Tools
description: |
    A collection of useful tools and resources for working with data and this site.
tags:
    - index
colour_style: bg-teal-25
breadcrumbs:
 - title: Home
   url: /
url: /tools/
hideTags: true
---
<section class="padded holder">
{{ comp AutoGrid }}
{{ for p of search.pages('tools !index', 'title') }}
    {{ comp.PageLink({ page: p, colour_style: 'bg-teal-100', config: { withTags: false } }) }}
{{ /for }}
{{ /comp }}
</section>