<div
    id="{{ elementId || "map" }}"
    data-dependencies="/assets/vendor/leaflet/leaflet.css,/assets/vendor/leaflet/leaflet.js"
></div>

<style>
#map {
    width: 100%;
    aspect-ratio: 5/4;
}
</style>

<script type="module">
    import { initialiseMap } from './map.js';

    initialiseMap({
        id: {{ elementId || "map" }},
        centre: {{ JSON.stringify(centre) }},
        data: {{ JSON.stringify(data) }},
        boundaries: {{ JSON.stringify(boundaries) }},
    });
</script>