<h2>Funding sources</h2>
{{# TODO Add breakdown of cross-regional funding drawing in data from ACE Project Grants, ACE NPO/IPSO, 360 Giving, NECA, NCC.
#}}
<p>
    Will include data from ACE Project Grants, ACE NPO/IPSO, 360 Giving, NECA, NCC.
</p>