[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
requests = "*"
ipykernel = "*"
matplotlib = "*"
petl = "*"
openpyxl = "*"
fsspec = "*"
aiohttp = "*"
pandas = "*"
beautifulsoup4 = "*"
thefuzz = "*"

[dev-packages]

[requires]
python_version = "3.12"
