<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} &ndash; {{ metas.site }}</title>
    <link rel="stylesheet" href="/assets/css/site.css">
</head>
<body>
    {{ comp.SiteBanner() }}
    {{ comp.SiteHeader({ metas, title, url }) }}
    {{ comp.nav.Breadcrumb({ breadcrumbs, title, url }) }}
    <div class="greedy">
        {{ content }}
    </div>
    {{ comp.SiteFooter() }}
</body>
</html>