<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} &ndash; {{ metas.site }}</title>
    <style>
        /* Put styles inline in _includes/_template/base.vto for the moment */
        html {
            font-family: monospace;
        }
        body {
	        margin: 0px;
        }
        body > header {
            font-size: 2rem;
            font-weight: 700;
            background: #000000;
            color: #ffffff;
            padding: 1em;
        }
        body p:first-child {
            padding-top:2em;
        }
        h2 {
            font-size: 1.6rem;
            padding-top:1em;
        }
        .holder {
            max-width: 100ch;
            margin-inline: auto;
        }
        .oi-zoomable-map { 
            margin-top:2em;
            margin-bottom:2em;
        }
    </style>
</head>
<body>
    {{ comp.SiteHeader({ metas, title }) }}
    <div class="holder">
        {{ content }}
    </div>
</body>
</html>