---
layout: ./base.vto
---

<main class="padded">
    {{ comp.PageSummary({ ...page.data })}}
    {{ comp.PageTags({ tags: related }) }}
    
    {{ comp UniformGrid }}
    {{ for page of search.pages(`"${tag}"`, "title") }}
        {{ comp.PageLink({ page, config: { headingLevel: 2 } })}}
    {{ /for }}
    {{ /comp }}
</main>