---
title: Impact & Outcomes?

tags:
    - summaries
    - work-in-progress

description: |
    Data collected through Culture Connect Case Studies Research on impact and outcomes of cultural activities.
---