/* Update core styles here */
:root {
    --holder-width: unset;
    --site-font: monospace;
}

html {
    font-family: var(--site-font);
    height: 100%;
}
body {
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
body > * {
    flex-grow: 1;
    padding-inline: 1rem;
}
body > header {
    flex-grow: 0;
    font-size: 2rem;
    font-weight: 700;
    background: #000000;
    color: #ffffff;
    padding-block: 1em;
    margin-block-end: 2rem;
    & a {
        color: inherit;
    }
}

body > footer {
    flex-grow: 0;
    margin-top: 2rem;
    padding: 2rem;
    color: white;
    background: #000000;
    a {
        color: inherit;
    }
}

h2 {
    font-size: 1.6rem;
    margin-block-start: 1.5em;
}
.holder {
    width: 100%;
    box-sizing: border-box;
    margin-inline: auto;
    max-width: var(--holder-width);
}
.oi-zoomable-map { 
    margin-block: 2rem;
}
table {
    overflow-x: scroll;
}

th {
    background: #000000;
    color: #ffffff;
    padding:0.8em;
    a {
        color: inherit;
    }
}
td {
    padding-inline: 1em;
    border-width: thin;
    border-color: #e0dfdf;
    border-style: solid;
}
.grid {
    display: flex;
    list-style: none;
    padding-inline: 0;
    gap: 1rem;
    flex-wrap: wrap;
    & > * {
        padding-block: 0;
        flex-basis: 25vw;
        flex-grow: 1;
        flex-shrink: 0;
        * {
            margin-block: 0;
        }
    }
    & .block {
        display: block;
        padding: 1em;
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-decoration: none;
        height: 100%;
        box-sizing: border-box;
        &a:hover {
            text-decoration: underline;
        }
    }
}
.greedy {
    flex-grow: 1;
}
.tag-cloud {
    list-style: none;
    padding-inline: 0;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    & .tag {
        border: 1px solid currentColor;
        border-radius: 2rem;
        padding-block: 0.2rem;
        padding-inline: 0.5rem;
    }
}
