---
title: Arts Council Investment Programme
description: |
    Visualisation of data from the Arts Council England
    Investment Programme covering National Portfolio Organisation (NPO)
    and Investment Principles Support Organisation (IPSO) for 2023-26.
tags:
    - in-progress
---

{{ comp.pageTop({ ...page.data }) }}