---
title: Companies House
description: Companies House data on the cultural sector.
tags:
    - open
    - infrastructure
---
<h1>{{ title }}</h1>

<p>
    This page will present data extracted from Companies House.
</p>

<p>Source:<p>

<ul><li><a href="https://download.companieshouse.gov.uk/en_output.html">Companies House monthly data extract</li></ul>


