<ul class="grid centred">
    <li class="block">
        <p class="bang"style="font-size: 2.5rem;">{{ orgData['Type of organisation'] }}</p>
        <p>Type of organisation</p>
    </li>
    <li class="block">
        <p class="bang"style="font-size: 2.5rem;">{{ orgData['Postcode'] }}</p>
        <p>Postcode</p>
    </li>
    <li class="block">
        <p class="bang"style="font-size: 2.5rem;">{{ orgData['Number of employees'] }}</p>
        <p>Number of employees</p>
    </li>
</ul>
