<h2>Data Maturity</h2>

<p>This page may contain a Data Maturity Framework for organisations to self-assess their current level of organisational data literacy, with guidance and actionable steps to make changes.</p>

<p>There are resources available online for organisations to peform such an assessment, such as the <a href="https://theodi.org/insights/tools/maturity-assessment-tool/">ODI Data Maturity Assessment Tool</a>.</p>



