---
title: Data insights
description: |
    The data insights bring together analysis around a specific topic.
tags:
    - index
url: /insight/
breadcrumbs:
  - title: Home
    url: /
colour_style: bg-pink-25
hideTags: true
---
<section class="padded holder">
{{ comp AutoGrid }}
{{ for p of search.pages('insight !index', 'title') }}
    {{ comp.PageLink({ page: p, colour_style: p.colour_style, config: { withTags: true } }) }}
{{ /for }}
{{ /comp }}
</section>