---
title: Newcastle City Council
description: Data relating to cultural programmes that are funded by Newcastle City Council
tags:
    - funding
---

<p>
    This page will provide present data relating to cultural programmes that are funded by Newcastle City Council.
</p>
