---
title: North East Combined Authority
description: Data relating to cultural programmes funded by the North East Combined Authority.
tags:
    - funding
---

<p>
    This page will provide present data relating to cultural programmes that are funded by the North East Combined Authority.
</p>
