---
title: Home
---

<!--
<p>
    This is a very early state prototype data observatory for the Northumbria Culture Connect project.
</p>
-->

<p>
    This site shows the result of research into open data sources related
    to the culture sector in the North East of England.
</p>

<p>
    The current contents include:
</p>

<ul>
{{ for page of search.pages('featured') }}
    <li>
        <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
{{ /for }}
</ul>