---
title: Engagement
description: |
    An in-depth analysis of culture sector engagement, exploring a new taxonomy that maps activity types and audience groups to provide meaningful insights into participation patterns across organisations.
colour_style: bg-blue-100
---

{{ include './_partials/taxonomy.vto' }}


{{ include './_partials/analysis.vto' }}


{{ include './_partials/recommendations.vto' }}

{{ include './_partials/conclusion.vto' }}
