---
title: Engagement
description: |
    Insight into participation and engagement in the cultural sector, gained as a result of Culture Connect Case Studies Research.
colour_style: bg-blue-100
---

<div class="holder padded">

<h2>Taxonomy of Cultural Engagement</h2>
{{ include './_partials/taxonomy.vto' }}

</div>