---
css: |
    [data-comp=auto-grid] {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        & > * {
            flex-basis: 20rem;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }
    [data-comp=auto-grid] [data-comp=colour-block] {
        margin-top: 0;
        padding-bottom: 60px;
    }
---
<div data-comp='auto-grid'>
    {{ content }}
</div>