---
css: |
  .case-studies { display: flex; gap: 60px; flex-direction: column; }
---
<div class="case-studies">
{{ for caseStudy of search.pages('case-study', 'order') }}
{{ comp.CaseStudyLink({ page: caseStudy, headingLevel }) }}
{{ /for }}
</div>