<a href="{{ file }}" class="call-to-action" style="--cta-text: var(--col-primary-black); --cta-bg: var(--col-white);margin-top:1rem;">
	{{ if content }}{{ content }}{{ else }}Download data{{ /if }}
</a>
