{{ set pages = search.pages(searchTerm, searchSort || "title") }}

{{ comp UniformGrid }}
{{ for page of pages }}
{{ comp.PageLink({ page, config: { headingLevel: headingLevel || 3 } })}}
{{ /for }}
{{ /comp }}