<{{ tag || 'section' }}><div class="block">
    <div class="greedy" style="display:flex;flex-direction:column;">
        {{ comp.PageSummary({ ...page, config }) }}
    </div>
    <div style="display:flex;justify-content:center;">
        {{ comp.CallToAction({ link: page.url, text: "Explore the data &rarr;" }) }}
    </div>
    <hr>
    {{ comp.PageTags({ ...page, config })}}
</div></{{ tag || 'section' }}>
