{{ set _tags = tags.filter(t => !(config?.hideTags || []).includes(t)) }}
<ul class="tag-cloud">
{{ for tag of _tags }}
<li><a class="tag" href="{{ search.page(`tag="${tag}"`).url }}">{{ tag }}</a></li>
{{ /for }}
</ul>