<button class="call-to-action" data-comp="Screenshot" data-dependencies="/assets/js/Screenshot.js" data-target="{{ target }}" data-hide="{{ hide }}" style="--cta-text: var(--col-primary-black); --cta-bg: var(--col-white);cursor: pointer;">{{ content }}</button>