---
css: |
    [data-comp=section]{
        border-bottom: 1px solid var(--col-darkgrey);
    }
    [data-comp=section]:last-child{
        border-bottom: 0;
    }
    [data-comp=section] > .holder {
        padding: 60px 32px 60px 32px;
    }
---

<section data-comp="section" {{ if style }} style="{{ style }}"{{ /if }}>
	<div class="holder">
{{ content }}
	</div>
</section>