---
css: |
    [data-comp=section]{
        border-bottom: 1px solid var(--col-darkgrey);
    }
    [data-comp=section]:last-child{
        border-bottom: 0;
    }
---

<section data-comp="section" class="padded holder"{{ if style }} style="{{ style }}"{{ /if }}>
{{ content }}
</section>