---
css: |
    body > footer {
        margin-top: 2rem;
        padding: 2rem;
        color: white;
        background: #000000;
        a {
            color: inherit;
        }
    }
---
<footer class="site-footer">
    <ul class="grid">
        <li>
            <a href="https://github.com/open-innovations/northumbria-culture-connect">GitHub repository</a>
        </li>
    </ul>
</footer>