<aside class="warning padded">
	<div class="holder"><span class="bg-black" style="padding:0 0.25em;">Alpha</span> This is a work-in-progress advanced prototype. Only wireframe styling is applied. A note about geographic scope: the Data Observatory pilot is limited to Newcastle City Council area for the pilot phase, but we aspire to broaden this out as the project to build as the Observatory progresses. Comments on the data, or organisation of the site, are welcome.
	</div>
</aside>
