---
css: |
    .site-header {
        font-size: 2rem;
        font-weight: 700;
        background: #000000;
        color: #ffffff;
        padding-block: 1em;
        margin-block-end: 2rem;
        & a {
            color: inherit;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
---

<header class="site-header">
    <div class="holder">
    <a href="/">{{ metas.site }}</a>
    </div>
</header>