<aside class="warning padded">
	<div class="holder"><span class="bg-black" style="padding:0 0.25em;">Alpha</span>
	This is a prototype Culture Data Observatory.
	The geographic scope is limited to Newcastle City Council area for the pilot phase, but we aspire to broaden this out in later phases.
	Comments on the data, or organisation of the site, are welcome.
	</div>
</aside>
