---
css: |
    [data-comp=width-limit] {
        --max-width: 800px;
        max-width: var(--max-width);
        margin-inline: auto;
    }
---

<div {{ if id }}id="{{ id }}" {{ /if }}data-comp="width-limit"
    {{- if maxWidth }} style="max-width: {{ maxWidth }}"{{ /if -}}
>
{{ content }}
</div>