---
css: |
    [data-comp=width-limit] {
        --max-width: 1200px;
        max-width: var(--max-width);
        margin-inline: auto;
    }
    .holder * + [data-comp=width-limit] {
        margin-top: 1.875rem; 
    }
---

<div {{ if id }}id="{{ id }}" {{ /if }}data-comp="width-limit"
    {{- if maxWidth }} style="--max-width: {{ maxWidth }};"{{ /if -}}
>
{{ content }}
</div>