---
title: Pilot organisations
description: |
    Profiles of organisations which have submitted data to the Data Observatory.
layout: template/page.vto
tags:
    - index
colour_style: bg-grey
hideTags: true
---

<main>
<section class="holder padded" style="--grid-size: 30rem;">

{{ comp UniformGrid }}
{{ for org of search.pages('organisation !index', 'title') }}
    {{ comp.OrgProfileLink({ page: org, config: { headingLevel: 2 } })}}
{{ /for }}
{{ /comp }}
</section>
</main>