---
title: Pilot organisations
description: |
    Profiles of organisations which have submitted data to the Data Observatory.
layout: template/page.vto
tags:
    - index
colour_style: bg-grey
hideTags: true
---

<main>
<section class="holder padded">

{{ comp UniformGrid }}
{{ for l of search.pages('organisation !index', 'title') }}
    {{ comp.PageLink({ page: l, config: { headingLevel: 2, withTags: true } })}}
{{ /for }}
{{ /comp }}
</section>
</main>